<a href="https://colab.research.google.com/github/KarthikAmuthrui/Mentor_tasks/blob/main/Mentor_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment-01
This data set was generated to model psychological experimental results. Each example is classified as having the balance scale tip to the right, tip to the left, or be balanced. The attributes are the left weight, the left distance, the right weight, and the right distance. The correct way to find the class is the greater of (left-distance * left-weight) and (right-distance * right-weight). If they are equal, it is balanced.

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
column_names = ["scale","left_weight","left_distance","right_weight","right_distance"]
data = pd.read_csv("/content/drive/MyDrive/Data/balance-scale.data",names = column_names)
data

    scale  left_weight  left_distance  right_weight  right_distance
0       B            1              1             1               1
1       R            1              1             1               2
2       R            1              1             1               3
3       R            1              1             1               4
4       R            1              1             1               5
..    ...          ...            ...           ...             ...
620     L            5              5             5               1
621     L            5              5             5               2
622     L            5              5             5               3
623     L            5              5             5               4
624     B            5              5             5               5

[625 rows x 5 columns]

In [4]:
data.head()

  scale  left_weight  left_distance  right_weight  right_distance
0     B            1              1             1               1
1     R            1              1             1               2
2     R            1              1             1               3
3     R            1              1             1               4
4     R            1              1             1               5

In [5]:
data.tail()

    scale  left_weight  left_distance  right_weight  right_distance
620     L            5              5             5               1
621     L            5              5             5               2
622     L            5              5             5               3
623     L            5              5             5               4
624     B            5              5             5               5

In [6]:
data.shape

(625, 5)

In [7]:
type(data.scale)

pandas.core.series.Series

In [8]:
type(data) # to know the type of all dataset that is imported

pandas.core.frame.DataFrame

In [15]:
#1.method of accessing a column
#data['scale'] 
#2.method of accessing a column
data.scale

0      B
1      R
2      R
3      R
4      R
      ..
620    L
621    L
622    L
623    L
624    B
Name: scale, Length: 625, dtype: object

In [12]:
type('scale')#to know the particular column type

str

In [13]:
data.describe() #for getting the basic stats about numeric data in dataframe

       left_weight  left_distance  right_weight  right_distance
count   625.000000     625.000000    625.000000      625.000000
mean      3.000000       3.000000      3.000000        3.000000
std       1.415346       1.415346      1.415346        1.415346
min       1.000000       1.000000      1.000000        1.000000
25%       2.000000       2.000000      2.000000        2.000000
50%       3.000000       3.000000      3.000000        3.000000
75%       4.000000       4.000000      4.000000        4.000000
max       5.000000       5.000000      5.000000        5.000000

In [16]:
#checking the no.of data points and features in the data
data.count() #another method is data.count(axis = 'index')

scale             625
left_weight       625
left_distance     625
right_weight      625
right_distance    625
dtype: int64

In [18]:
data.count(axis = 'columns')

0      5
1      5
2      5
3      5
4      5
      ..
620    5
621    5
622    5
623    5
624    5
Length: 625, dtype: int64

In [ ]:
dir(data)

In [24]:
# finding unique values for each column
print(data['scale'].unique())
print(data['left_weight'].unique())
print(data['left_distance'].unique())
print(data['right_weight'].unique())
print(data['right_distance'].unique())

['B' 'R' 'L']
[1 2 3 4 5]
[1 2 3 4 5]
[1 2 3 4 5]
[1 2 3 4 5]

In [27]:
#getting all columns unique values
uniquevalues = (data['scale'].append(data['left_weigth'].append(data['left_distance'].append(data['right_weight'].append(data['right_distance'])).unique()

SyntaxError: ignored

In [28]:
# adding new column in the data
data

    scale  left_weight  left_distance  right_weight  right_distance
0       B            1              1             1               1
1       R            1              1             1               2
2       R            1              1             1               3
3       R            1              1             1               4
4       R            1              1             1               5
..    ...          ...            ...           ...             ...
620     L            5              5             5               1
621     L            5              5             5               2
622     L            5              5             5               3
623     L            5              5             5               4
624     B            5              5             5               5

[625 rows x 5 columns]

In [30]:
data['left_sum'] = data['left_weight']+data['left_distance']
data

    scale  left_weight  left_distance  right_weight  right_distance  left_sum
0       B            1              1             1               1         2
1       R            1              1             1               2         2
2       R            1              1             1               3         2
3       R            1              1             1               4         2
4       R            1              1             1               5         2
..    ...          ...            ...           ...             ...       ...
620     L            5              5             5               1        10
621     L            5              5             5               2        10
622     L            5              5             5               3        10
623     L            5              5             5               4        10
624     B            5              5             5               5        10

[625 rows x 6 columns]

In [36]:
#dropping a column that is created 
data = data.drop(columns = "left_sum")
data

    scale  left_weight  left_distance  right_weight  right_distance
0       B            1              1             1               1
1       R            1              1             1               2
2       R            1              1             1               3
3       R            1              1             1               4
4       R            1              1             1               5
..    ...          ...            ...           ...             ...
620     L            5              5             5               1
621     L            5              5             5               2
622     L            5              5             5               3
623     L            5              5             5               4
624     B            5              5             5               5

[625 rows x 5 columns]

In [37]:
#creating a new column
data['duplicate'] = 5*data['left_distance']+2*data['right_distance']
data

    scale  left_weight  left_distance  right_weight  right_distance  duplicate
0       B            1              1             1               1          7
1       R            1              1             1               2          9
2       R            1              1             1               3         11
3       R            1              1             1               4         13
4       R            1              1             1               5         15
..    ...          ...            ...           ...             ...        ...
620     L            5              5             5               1         27
621     L            5              5             5               2         29
622     L            5              5             5               3         31
623     L            5              5             5               4         33
624     B            5              5             5               5         35

[625 rows x 6 columns]

In [43]:
print(sum(data['left_distance']))
data['duplicte2'] = sum(data['left_distance'],data['duplicate'])
data

1875

,scale,left_weight,left_distance,right_weight,right_distance,duplicate,duplicte2
0,B,1,1,1,1,7,1882
1,R,1,1,1,2,9,1884
2,R,1,1,1,3,11,1886
3,R,1,1,1,4,13,1888
4,R,1,1,1,5,15,1890
...,...,...,...,...,...,...,...
620,L,5,5,5,1,27,1902
621,L,5,5,5,2,29,1904
622,L,5,5,5,3,31,1906
623,L,5,5,5,4,33,1908
624,B,5,5,5,5,35,1910

In [45]:
#accessing elements using loc and iloc
data.loc[0:10]

,scale,left_weight,left_distance,right_weight,right_distance,duplicate,duplicte2
0,B,1,1,1,1,7,1882
1,R,1,1,1,2,9,1884
2,R,1,1,1,3,11,1886
3,R,1,1,1,4,13,1888
4,R,1,1,1,5,15,1890
5,R,1,1,2,1,7,1882
6,R,1,1,2,2,9,1884
7,R,1,1,2,3,11,1886
8,R,1,1,2,4,13,1888
9,R,1,1,2,5,15,1890
10,R,1,1,3,1,7,1882

In [49]:
data.loc[:,'scale':'left_distance'] #accessing all rows and different no.of columns using loc 
# it will include the column 'left_distance'

    scale  left_weight  left_distance
0       B            1              1
1       R            1              1
2       R            1              1
3       R            1              1
4       R            1              1
..    ...          ...            ...
620     L            5              5
621     L            5              5
622     L            5              5
623     L            5              5
624     B            5              5

[625 rows x 3 columns]

In [50]:
data.loc[10:20,'scale'] #accessing single column and with in given row range using loc

10    R
11    R
12    R
13    R
14    R
15    R
16    R
17    R
18    R
19    R
20    R
Name: scale, dtype: object

In [52]:
#accessing through iloc
data.iloc[:,0:1] #it will exclude the column given as 1

    scale
0       B
1       R
2       R
3       R
4       R
..    ...
620     L
621     L
622     L
623     L
624     B

[625 rows x 1 columns]

In [53]:
data.iloc[25:40,2:5]

    left_distance  right_weight  right_distance
25              2             1               1
26              2             1               2
27              2             1               3
28              2             1               4
29              2             1               5
30              2             2               1
31              2             2               2
32              2             2               3
33              2             2               4
34              2             2               5
35              2             3               1
36              2             3               2
37              2             3               3
38              2             3               4
39              2             3               5

In [57]:
#for finding missing values
data.notnull() #or we can use data.isna()

,scale,left_weight,left_distance,right_weight,right_distance,duplicate,duplicte2
0,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...
620,True,True,True,True,True,True,True
621,True,True,True,True,True,True,True
622,True,True,True,True,True,True,True
623,True,True,True,True,True,True,True
624,True,True,True,True,True,True,True

In [61]:
data.isnull().sum() #to get the count of missing values in all the columns

scale             0
left_weight       0
left_distance     0
right_weight      0
right_distance    0
duplicate         0
duplicte2         0
dtype: int64

In [62]:
#to get the overall null values count in a data 
data.isnull().sum().sum()

0

In [87]:
#to get the null values in a single column
data[data['duplicate'].isnull()]

Empty DataFrame
Columns: [scale, left_weight, left_distance, right_weight, right_distance, duplicate, duplicte2, duplicate3]
Index: []

In [79]:
data['duplicate3'] = ''

In [80]:
data

,scale,left_weight,left_distance,right_weight,right_distance,duplicate,duplicte2,duplicate3
0,B,1,1,1,1,7,1882,
1,R,1,1,1,2,9,1884,
2,R,1,1,1,3,11,1886,
3,R,1,1,1,4,13,1888,
4,R,1,1,1,5,15,1890,
...,...,...,...,...,...,...,...,...
620,L,5,5,5,1,27,1902,
621,L,5,5,5,2,29,1904,
622,L,5,5,5,3,31,1906,
623,L,5,5,5,4,33,1908,
624,B,5,5,5,5,35,1910,

In [86]:
data['duplicate3'].isnull() #doubt regarding isnull

0      False
1      False
2      False
3      False
4      False
       ...
620    False
621    False
622    False
623    False
624    False
Name: duplicate3, Length: 625, dtype: bool

#Assignment-02
create a function that accepts list as input and produces dictionary as output in sorted order

In [108]:
#creating a function that accepts list as input and  produces dictionary as output in sorted order 
def compute_dist(lst):
  frequency = {}
  lst = l1.sort() 
  for x in l1:
    if x in frequency:
      frequency[x] += 1
    else:
      frequency[x] = 1
    
  return frequency


l1 = list(map(int,input().split()))
res = compute_dist(l1)
res

5 3 2 2 1 1 1 1 3

{1: 4, 2: 2, 3: 2, 5: 1}